/* CSS Variables */
:root {
  --font-family: 'Poppins', sans-serif;
  --background-color: #f4f4f4;
  --primary-color: #333;
  --secondary-color: #fff; 
  --accent-color: #007bff; 
  --container-width: 80%;
  --section-padding: 4em; 
}

#main-header {
  position: sticky;  /* or fixed if you want to overlap content */
  top: 0;            /* Stick to the top */
  width: 100%;
  z-index: 1000;    /* Ensure it stays on top of other elements */
  background-color: var(--primary-color); /* Example, maintain same bg color */
}

/* Global Styles */
body {
  font-family: var(--font-family);
  margin: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
  line-height: 1.6;  
}

html { /* smooth scrolling */
  scroll-behavior: smooth;
}

/* Typography */
h1, h2, h3 {
  font-weight: 600;
}
h1 {color: var(--secondary-color);}
h2 {
  margin-bottom: 1em;
  text-align: center;
}
.underline{
  display: block;
  width: 5rem;
  height: 3px;
  background-color: var(--accent-color);
  margin: 0.5em auto;
}

/* Header/Navigation */
header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1em 0;
  text-align: center; 
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--container-width);
  margin: 0 auto;
}

@media(max-width: 700px) {
  nav {
    flex-direction: column;
  }
  #hamburger {
      display: inline-block; 
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
  display: inline-block;
}
#hamburger {
  display: none;
  border: none;
  font-size: 1.5rem;
  background: none;
  color: var(--secondary-color);
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.3s ease; 
  padding: 10px;
}

nav a:hover {
  color: var(--accent-color);
}


/* Section Styles */
.section {
  padding: var(--section-padding);
}

.container {
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 1em;
}

/* About Section */
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.about-content p {
  flex-basis: 100%; 
  margin-bottom: 1em;
}

/* Skills Section */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); 
  grid-gap: 10px;
}

.skill {
  padding: 0.8em 1em;
  background-color: #eee; 
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
  transform: scale(1.05);
  background-color: #e0e0e0; 
  box-shadow: 2px 2px 5px #ddd;
}



/* Projects Section */
.projects-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.project {
  border: 1px solid #ddd;
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 2px 2px 8px #dcdcdc;
  opacity: 0;          /* Initially hidden */
  transform: translateY(20px);  /* Initial position */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transitions */
}

.project.show {  /* Styles when project is in view */
  opacity: 1;       /* Fully opaque */
  transform: translateY(0); /* Normal position */

}



.project a {
  display: inline-block;
  margin-top: 1em;
  background-color: #007bff;
  color: #fff;
  padding: 0.5em 1em; 
  border-radius: 8px;
  text-decoration: none; 
}

.project a:hover {
  background-color: #0056b3;
}



/* Contact Section */
.contact-content {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 20px;
}


.social-icons { margin-bottom: 15px; }

.social-icons a {
  font-size: 1.5rem;
  margin: 0.5rem;
  text-decoration: none; 
  color: #007bff;
  transition: transform 0.2s, color 0.3s ease;
}


.social-icons a:hover {
  transform: scale(1.1); 
  color: #0056b3; 
}

.social-icons a i { margin-right: 0.5em;}

/* Footer */
footer {
  text-align: center;
  padding: 1em 0;
  background-color: var(--primary-color);
  color: #ffffff;
}



/* Media Queries (Responsiveness) */
@media (max-width: 768px) {
  :root {
      --container-width: 95%;
      --section-padding: 2em;
  }
  .about-content, .contact-content {
      flex-direction: column;
      align-items: center; 
  }
}